h1
{
        font-family: "Calibri", serif;
        color: black;
        background-color: transparent;
}
p
{
    font-family: "Calibri", serif;
    color: black;
    font-size: 100%;
}
th
{
    font-family: "Calibri", serif;
    color: black;
    font-size: 100%;
}


#navigatie {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}