html, body {
    height: 100%;
}

body
{
    font-family: "Calibri", serif;
    color: black;
    background-color: transparent;
}


h1
{
        color: #801D18;
        text-align: center;
}

h2{
        color: #B02721;
}

h3{
    text-align: center;
    color: #801D18;
}

a{
    color: #B02721;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #801D18;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B02721;
}

.navigation li {
         float: left;
     }

img {
    width: 100%;
}

img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.icon{
    width:42px;
    height:42px;
    border:0;
}

#displayed{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 315px;
    frameborder: 0px;

}

.ingredients{
    list-style-type: square;
}

table.paleRedRows {
    font-family: "Calibri", serif;
    border: 1px solid #FFFFFF;
    width: 80%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
}

table.paleRedRows td, table.paleRedRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}

table.paleRedRows thead {
    background: #B02721;
    border-bottom: 5px solid #FFFFFF;
}
table.paleRedRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

table.paleRedRows tbody tr:nth-child(even){
    background: #FFEAEA;
}

table.paleRedRows tbody td {
    font-size: 13px;
}

.shiftformenu {
    margin-right: 350px; /* Same as the width of the sidenav */
    padding: 0 15px;
}

aside.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
    overflow-x: hidden;
}



.favorites {
    height: 50%;
    width: 340px;
    float: right;
    background: white;
    overflow-y: auto;
}

.shoppinglist {
    height: 50%;
    width: 340px;
    float: right;
    background: white;
    overflow-y: auto;
}

h1.sidenav {
    margin: 0;
    padding: 15px;
    background-color: #B02721;
    color: white;
}

.combinedPlots {
    width: 950px;
    height: 450px;
    font-size: 14px;
    line-height: 1.2em;
}

.plotCalories {
    float: left;
    width: 10%;
    height: 450px;
}

.plotIngredients {
    position: absolute;
    left: 150px;
    width: 70%;
    min-width: 500px;
    height: 450px;
    font-size: 14px;
    line-height: 1.2em;
}


.context-menu {
    width: 200px;
    height: auto;
    box-shadow: 0 0 20px 0 #ccc;
    position: absolute;
    display: none;
    background: white;
    list-style: none;
    padding: 5px 0px 5px 0px;


}

.context-menu li{
    padding: 10px 5px 10px 5px;
    border-left: 4px solid transparent;
    cursor: pointer;

}


.context-menu li:hover{
    background: #B02721;
    color: white;
}

#contentchocolate {
    width: 300px;
    background: #FFEAEA;
    margin:0;
    max-height: 30px;
    overflow: hidden;
    padding: 20px 20px 20px 20px;

}

#contentchocolate.open {
    max-height: 400px;
}

#contentmelon {
    width: 300px;
    background: #FFEAEA;
    margin:0;
    max-height: 30px;
    overflow: hidden;
    padding: 20px 20px 20px 20px;

}

#contentmelon.open {
    max-height: 400px;
}

#showmore {
    background: #B02721;
    height: auto;
    width: auto;
    padding: 10px 10px 10px 10px;
    color: white;
}

#showmoremelon {
    background: #B02721;
    height: auto;
    width: auto;
    padding: 10px 10px 10px 10px;
    color: white;
}

#article
{
    color: green;
}